<template lang="html">
  <div>
    <StatsList
      v-if="isVisited"
      :stats="{
        Population: location.population,
        'Breathable air?': location.breathable ? 'Yes' : 'No',
        'Tech level': `L${location.techLevel}`,
        'Inclination': `${location.inclination.name} ${location.type}`
      }"
      :style="{margin: '1rem'}"
    />

    <UiButton
      v-if="!isCurrent"
      class="c-location-infobox__action"
      @click="plot"
    >
      Plot
    </UiButton>
  </div>
</template>

<script>
import StatsList from '../StatsList.vue';
import UiButton from '../UiButton.vue';

export default {
  components: {
    StatsList,
    UiButton,
  },
  props: {
    location: {
      type: Object,
      required: true,
    },
  },
  computed: {
    isCurrent() {
      return this.location.id === this.$store.getters['log/current'].id;
    },
    isVisited() {
      const logHistory = this.$store.state.log.history;
      return logHistory.find(entry => entry.id === this.location.id && entry.landed);
    },
  },
  methods: {
    async plot() {
      const { location } = this;
      try {
        await this.$store.dispatch('log/plot', location.id);
      } catch (e) {
        // Swallow
      }
    },
  },
};
</script>

<style lang="css">
.c-location-infobox__action {
  margin: 0 1rem 1rem;
}
</style>
