<template lang="html">
  <div class="c-market">
    <div class="c-market__trader">
      <h2>{{ location.name }}</h2>
      <p>&nbsp;</p>
      <div
        v-for="item in stock.filter(item => item.quantity > 0)"
        :key="item.code"
        class="c-market__item"
      >
        <span class="c-market__item-label">
          {{ item.quantity }}&times;
          <strong>{{ getLabel(item.code) }}</strong>
        </span>
        <span>{{ item.value }}¤/ton</span>
        <UiButton
          :disabled="!isItemBuyable(item)"
          @click="buy(item)"
        >
          &raquo;
        </UiButton>
      </div>
    </div>

    <div class="c-market__trader">
      <h2>{{ ship.name }}</h2>
      <p>{{ shipTonnage }}/{{ shipCapacity }} tons. {{ ship.credits }} credits</p>
      <div
        v-for="item in ship.cargo"
        :key="item.code"
        class="c-market__item"
      >
        <UiButton @click="sell(item)">
          &laquo;
        </UiButton>
        <span class="c-market__item-label">
          {{ item.quantity }}&times;
          <strong>{{ getLabel(item.code) }}</strong>
        </span>
        <span>{{ getValue(item.code) }}¤/ton</span>
      </div>
    </div>
  </div>
</template>

<script>
import { cargoTypes } from '../../lib/data';
import UiButton from '../UiButton.vue';

export default {
  components: {
    UiButton,
  },
  props: {
    location: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    stock: [
      { code: 'water', quantity: 17, value: 3 },
      { code: 'general', quantity: 5, value: 1 },
      { code: 'weapons', quantity: 0, value: 15 },
    ],
  }),
  computed: {
    ship() {
      return this.$store.state.ship;
    },
    shipCapacity() {
      return this.$store.getters['ship/capacity'];
    },
    shipTonnage() {
      return this.$store.getters['ship/tonnage'];
    },
  },
  methods: {
    getLabel(code) {
      const dbItem = cargoTypes.find(type => type.code === code);
      return dbItem.name;
    },
    getValue(code) {
      const demand = this.stock.find(item => item.code === code);
      return demand ? demand.value : 1;
    },
    isItemBuyable(item) {
      return (
        item.value <= this.ship.credits
        && this.shipTonnage + Math.min(item.quantity, 1) <= this.shipCapacity
      );
    },
    buy(item) {
      // Default to trading one ton, unless less is available
      const quantity = Math.min(item.quantity, 1);

      // Buy one of the item
      this.$store.dispatch('ship/buy', {
        code: item.code,
        quantity,
        cost: item.value,
      }).then(() => {
        // Reduce available stock
        this.stock[this.stock.indexOf(item)].quantity -= quantity;
      });
    },
    sell(item) {
      // Default to trading one ton, unless less is available
      const quantity = Math.min(item.quantity, 1);

      // Sell one of the item
      this.$store.dispatch('ship/sell', {
        code: item.code,
        quantity,
        value: this.getValue(item.code),
      }).then(() => {
        // Increase available stock
        const stockItem = this.stock.find(i => i.code === item.code);
        if (stockItem) {
          stockItem.quantity += quantity;
        } else {
          this.stock.push({
            code: item.code,
            quantity,
            value: 1,
          });
        }
      });
    },
  },
};
</script>

<style lang="css">
.c-market {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.c-market__trader {
  margin: 1rem;
}

.c-market__item {
  display: flex;
  align-items: center;
}

.c-market__item > * + * {
  margin-left: 1rem;
}

.c-market__item-label {
  flex-grow: 1;
  white-space: nowrap;
}
</style>
