<template lang="html">
  <div>
    <TabStrip
      v-model="tab"
      :tabs="{
        layout: 'Layout',
        crew: 'Crew',
        cargo: 'Cargo',
      }"
    />
    <UiBox
      v-if="tab === 'layout'"
      padded
    >
      <h2>{{ ship.name }}</h2>
      <ShipEditor
        :shape="ship.layout.shape"
        :rooms="ship.layout.rooms"
      />

      <StatsList
        :stats="{
          'Combat': ship.stats.combat,
          'Defence': ship.stats.defence,
          'Speed': ship.stats.speed,
          'Cargo': `${shipTonnage} / ${shipCapacity} tonnes`,
          'Crew': `${ship.crew.length} / ${shipBerths} berths filled`,
        }"
      />
    </UiBox>
    <UiBox
      v-if="tab === 'crew'"
      padded
    >
      <div
        v-for="person in ship.crew"
        :key="person.id"
      >
        <h3>{{ person.name }}</h3>
        <p>{{ person.race | capitalise }} {{ person.profession }}</p>
        <div :style="{display: 'grid', gridTemplateColumns: '1fr 1fr'}">
          <StatsList
            :stats="{
              'Stamina': person.stamina,
              'Charisma': person.charisma,
              'Driving': person.driving,
            }"
          />
          <div>
            <h4>Skills</h4>
            <div
              v-for="skill in person.skills"
              :key="skill"
            >
              [{{ skill }}]
            </div>
          </div>
        </div>
      </div>
    </UiBox>
    <UiBox
      v-if="tab === 'cargo'"
      padded
    >
      <ul>
        <li
          v-for="cargo in ship.cargo"
          :key="cargo.code"
        >
          {{ cargo.quantity }} tonnes of <strong>{{ getLabel(cargo.code) }}</strong>
          ({{ cargo.value }}¤)
        </li>
      </ul>
    </UiBox>
  </div>
</template>

<script>
import { cargoTypes } from '../../lib/data';
import ShipEditor from './ShipEditor.vue';
import StatsList from '../StatsList.vue';
import TabStrip from '../TabStrip.vue';
import UiBox from '../UiBox.vue';

export default {
  components: {
    UiBox,
    ShipEditor,
    StatsList,
    TabStrip,
  },
  data: () => ({
    tab: 'layout',
  }),
  computed: {
    shipBerths() {
      return this.$store.getters['ship/berths'];
    },
    shipCapacity() {
      return this.$store.getters['ship/capacity'];
    },
    shipTonnage() {
      return this.$store.getters['ship/tonnage'];
    },
    ship() {
      return this.$store.state.ship;
    },
  },
  methods: {
    getLabel(code) {
      return cargoTypes.find(type => type.code === code).name;
    },
  },
};
</script>

<style lang="css">
</style>
