<template lang="html">
  <div
    ref="frame"
    class="c-modalframe"
    tabindex="-1"
    @click.self="close"
    @keydown.esc="close"
  >
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    modal: {
      type: Boolean,
      default: false,
    },
  },
  mounted() {
    this.$refs.frame.focus();
  },
  methods: {
    close() {
      if (!this.modal) {
        this.$emit('close');
      }
    },
  },
};
</script>

<style lang="css">
.c-modalframe {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10vh;
  background-color: hsla(0, 0%, 0%, 0.7);
}
</style>
