<template lang="html">
  <UiBox
    ref="box"
    class="c-narrativebox"
  >
    <!-- eslint-disable vue/no-v-html -->
    <p
      v-for="paragraph in [...story.split('\n'), ...toString(current.text).split('\n')]"
      :key="paragraph"
      class="c-narrativebox__paragraph"
      v-html="paragraph"
    />
    <!-- eslint-enable vue/no-v-html -->

    <ol v-if="current.options">
      <li
        v-for="(option, index) in current.options"
        :key="index"
        class="c-narrativebox__option"
      >
        <button
          class="c-narrativebox__action"
          @click="go(option.to)"
        >
          {{ toString(option.label) }}
        </button>
      </li>
    </ol>
    <p v-else-if="current.to">
      <button
        class="c-narrativebox__action"
        @click="go(current.to)"
      >
        Continue
      </button>
    </p>
    <p v-else>
      <button
        class="c-narrativebox__action"
        @click="close"
      >
        Close
      </button>
    </p>
  </UiBox>
</template>

<script>
import UiBox from './UiBox.vue';

export default {
  components: {
    UiBox,
  },
  props: {
    narrative: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    story: '',
    vars: {},
    steps: ['_start'],
  }),
  computed: {
    current() {
      const id = this.steps[this.steps.length - 1];
      return this.narrative.steps.find(n => n.id === id);
    },
    location() {
      const locationId = this.$store.getters['log/current'].id;
      return this.$store.state.map.locations.find(l => l.id === locationId);
    },
  },
  created() {
    // Apply any starting effects
    if (typeof this.current.effect === 'function') {
      this.callFunction(this.current.effect);
    }
  },
  methods: {
    go(to) {
      // Update the story with the new paragraph
      this.story += `\n${this.toString(this.current.text)}`;

      const stepId = this.toString(to);
      this.steps.push(stepId);

      // Apply any effects of the new narrative development
      if (typeof this.current.effect === 'function') {
        this.callFunction(this.current.effect);
      }

      // Auto-scroll to the bottom of the box
      this.$nextTick(() => {
        const box = this.$refs.box.$el;
        box.scroll({
          top: box.scrollHeight,
          behavior: 'smooth',
        });
      });
    },
    callFunction(func) {
      return func.call(this, {
        local: {
          get: key => this.vars[key],
          set: (key, value) => { this.vars[key] = value; },
        },
        ship: this.$store.state.ship,
        crew: this.$store.state.ship.crew,
        cargo: this.$store.state.ship.cargo,
        location: this.location,
        dispatch: this.$store.dispatch,
      });
    },
    toString(mixedType) {
      let string = '';

      if (typeof mixedType === 'string' || typeof mixedType === 'number') {
        string = mixedType.toString();
      } else if (typeof mixedType === 'function') {
        string = this.callFunction(mixedType);
      } else {
        throw new Error(`Invalid narrative direction of type ${typeof mixedType}`);
      }

      // Add colour markup
      const colourRegex = /\[(danger|success) (.+?)\]/g;
      string = string.replace(colourRegex, (_, type, text) => `<span class="c-narrativebox__text--${type}">${text}</span>`);

      return string;
    },
    close() {
      this.$store.dispatch('map/completeNarrative', this.location.id);
      this.$store.dispatch('log/land');
    },
  },
};
</script>

<style lang="css">
.c-narrativebox {
  max-height: 50%;
  padding: 0 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.c-narrativebox__option {
  color: #719FE3;
}

.c-narrativebox__action {
  display: block;
  /* Reset button properties */
  padding: 0;
  border: none;
  background-color: transparent;
  color: #719FE3;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.c-narrativebox__action:focus {
  outline: 2px dashed;
}

.c-narrativebox__action:hover {
  text-decoration: underline;
}

.c-narrativebox__paragraph {
  animation: grow-in .4s;
}

.c-narrativebox__text--success { color: var(--color-success); }
.c-narrativebox__text--danger { color: var(--color-danger); }
</style>
