<template lang="html">
  <ul class="c-tabstrip">
    <li
      v-for="(label, val) in tabs"
      :key="val"
      :class="{'c-tabstrip__tab': true, 'c-tabstrip__tab--active': val === value}"
      @click="$emit('input', val)"
    >
      {{ label }}
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      required: true,
    },
    tabs: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="css">
.c-tabstrip {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: #FFF;
}

.c-tabstrip__tab {
  padding: 1rem;
  border: 3px dashed transparent;
  border-bottom-width: 0;
  cursor: pointer;
}

.c-tabstrip__tab:hover {
  background-color: #222;
}

.c-tabstrip__tab--active {
  margin-bottom: -3px;
  background-color: #222;
  border-color: #FFF;
  font-weight: bold;
}
</style>
