<template lang="html">
  <div :class="{'c-box': true, 'c-box--padded': padded}">
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    padded: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="css">
.c-box {
  width: 500px;
  background-color: #222;
  color: #FFF;
  border: 3px dashed #FFF;
}

.c-box--padded {
  padding: 1rem;
}
</style>
