<template lang="html">
  <div v-if="isLoaded">
    <StarMap />
    <ModalFrame
      v-if="narrative"
      modal
    >
      <NarrativeBox :narrative="narrative" />
    </ModalFrame>
    <UiButton
      class="ship-manager-arbiter"
      @click="toggleShipManager"
    >
      Ship
    </UiButton>
    <ModalFrame
      v-if="isShipManagerOpen"
      @close="isShipManagerOpen = false"
    >
      <ShipManager />
    </ModalFrame>
  </div>
</template>

<script>
import ModalFrame from './components/ModalFrame.vue';
import NarrativeBox from './components/NarrativeBox.vue';
import ShipManager from './components/ship/Manager.vue';
import StarMap from './components/map/StarMap.vue';
import UiButton from './components/UiButton.vue';

export default {
  components: {
    ModalFrame,
    NarrativeBox,
    ShipManager,
    StarMap,
    UiButton,
  },
  data: () => ({
    isShipManagerOpen: false,
  }),
  computed: {
    isLoaded() {
      return this.$store.state.app.isLoaded;
    },
    narrative() {
      const { state } = this.$store;

      const currentLogEntry = this.$store.getters['log/current'];
      if (!currentLogEntry) return null;

      const location = state.map.locations.find(l => l.id === currentLogEntry.id);

      if (location.narrative && !location.narrative.isComplete) {
        return location.narrative;
      }

      return null;
    },
  },
  methods: {
    toggleShipManager() {
      this.isShipManagerOpen = !this.isShipManagerOpen;
    },
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

:root {
  --color-success: #e7e754;
  --color-danger: #e75454;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #222;
  font-family: 'Space Mono', monospace;
  font-variant-ligatures: none;
  overflow: hidden;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

@keyframes grow-in {
    0% { transform: scale(1.2); opacity: 0; }
  100% { transform:   scale(1); opacity: 1; }
}
</style>

<style scoped>
.ship-manager-arbiter {
  position: absolute;
  top: 0;
  right: 0;
}
</style>
