<template lang="html">
  <g>
    <path
      ref="base"
      class="c-journey-tracker__base"
      :d="`
        M ${currentLocation.x} ${currentLocation.y}
        A ${distance} ${distance}
          ${lineSlope} 0 ${currentLocation.x % 1 < 0.5 ? 0 : 1}
          ${plottedLocation.x},${plottedLocation.y}
      `"
    />
    <path
      v-show="getArcLength()"
      class="c-journey-tracker__progress"
      :d="`
        M ${currentLocation.x} ${currentLocation.y}
        A ${distance} ${distance}
          ${lineSlope} 0 ${currentLocation.x % 1 < 0.5 ? 0 : 1}
          ${plottedLocation.x},${plottedLocation.y}
      `"
      :style="{
        'stroke-dasharray': getArcLength(),
        'stroke-dashoffset': (1 - progress) * getArcLength()
      }"
    />
  </g>
</template>

<script>
export default {
  data: () => ({
    now: new Date(),
    nowInterval: null,
  }),
  computed: {
    progress() {
      const { plot } = this.$store.state.log;

      // Calculate progress on journey
      const progress = (this.now - plot.departed) / (plot.arrives - plot.departed);

      // Never return a value greater than 1. This may happen as the travel time
      // is calculated in a straight line, which is shorter than the curve drawn
      return Math.min(progress, 1);
    },
    plottedLocation() {
      const plottedLocationId = this.$store.state.log.plot.to;

      if (!plottedLocationId) return null;

      return this.$store.state.map.locations.find(l => l.id === plottedLocationId);
    },
    currentLocation() {
      const currentLocationId = this.$store.getters['log/current'].id;
      return this.$store.state.map.locations.find(l => l.id === currentLocationId);
    },
    lineSlope() {
      return Math.atan(
        (this.plottedLocation.y - this.currentLocation.y)
        / (this.plottedLocation.x - this.currentLocation.x),
      ) * 180 / Math.PI;
    },
    distance() {
      return Math.sqrt(
        ((this.plottedLocation.x - this.currentLocation.x) ** 2)
        + ((this.plottedLocation.y - this.currentLocation.y) ** 2),
      );
    },
  },
  mounted() {
    this.nowInterval = setInterval(() => {
      this.now = Date.now();
    }, 50);
  },
  beforeDestroy() {
    clearInterval(this.nowInterval);
  },
  methods: {
    getArcLength() {
      return this.$refs.base ? this.$refs.base.getTotalLength() : 0;
    },
  },
};
</script>

<style lang="css">
@keyframes c-journey-tracker__draw {
  to { stroke-dashoffset: 0; }
}

.c-journey-tracker__base {
  stroke: darkred;
  stroke-width: 5;
  fill: transparent;
}

.c-journey-tracker__progress {
  stroke: red;
  stroke-width: 5;
  fill: transparent;
  transition: stroke-dashoffset 0.1s linear;
}
</style>
