<template lang="html">
  <g>
    <!-- Planet base -->
    <circle
      cx="0"
      cy="0"
      :r="radius"
      :fill="location.climate.color"
    />
    <!-- Shadows -->
    <circle
      :cx="-0.5 * radius"
      :cy="-0.5 * radius"
      :r="radius * 1.3"
      :mask="`url(#mask-${location.size})`"
      fill="#FFF"
      opacity="0.1"
    />
    <circle
      :cx="-0.4 * radius"
      :cy="-0.4 * radius"
      :r="radius * 1.4"
      :mask="`url(#mask-${location.size})`"
      fill="#FFF"
      opacity="0.1"
    />
    <!-- Details -->
    <rect
      v-for="(x, i) in new Array(rows)"
      :key="x"
      :x="i % 2 === 0 ? (Math.random() * radius) : (Math.random() * radius) - (radius * 2)"
      :y="(-1 * radius) + (i * 12)"
      :width="radius * 2"
      height="8"
      rx="4"
      ry="4"
      fill="#FFF"
      opacity="0.4"
      :mask="`url(#mask-${location.size})`"
    />
  </g>
</template>

<script>
export default {
  props: {
    location: {
      type: Object,
      required: true,
    },
  },
  computed: {
    radius() {
      return this.location.size * 5;
    },
    rows() {
      return this.location.size > 3 ? Math.ceil(this.radius / 6) : 0;
    },
  },
};
</script>
