<template lang="html">
  <g>
    <!-- Background circle as hover target -->
    <circle
      :r="location.size * 5"
      fill="transparent"
    />
    <SpriteStation :transform="`scale(${location.size * 8 / 400}) translate(-200 -200)`" />
  </g>
</template>

<script>
import SpriteStation from './SpriteStation.vue';

export default {
  components: {
    SpriteStation,
  },
  props: {
    location: {
      type: Object,
      required: true,
    },
  },
};
</script>
