<template lang="html">
  <div
    @wheel="scroll"
    @mousemove="pan"
  >
    <svg
      ref="svg"
      class="c-starmap"
      :viewBox="viewBox.join(' ')"
      @click.self="deselect"
    >
      <defs>
        <mask
          v-for="size in locationSizes"
          :id="`mask-${size}`"
          :key="size"
        >
          <circle
            cx="0"
            cy="0"
            :r="size * 5"
            fill="#FFF"
          />
        </mask>
      </defs>
      <JourneyTracker v-if="inTransit" />
      <g>
        <MapLocation
          v-for="location in locations"
          :key="location.id"
          :location="location"
          :transform="`translate(${location.x} ${location.y})`"
          @select="select"
        />
      </g>
    </svg>
    <div
      v-if="selected && selected.id !== currentLocation.id && !inTransit"
      class="u-absolutely-positioned"
      :style="`
        transform: translate(
          /*
            Place infobox above planet, taking into account zoom and pan. Subtract
            50 to center the infobox planet with the map, and subtract 3 to take
            account of the border.
          */
          ${(zoom * (selected.x - viewX)) - 50 - 3}px,
          ${(zoom * (selected.y - viewY)) - 50 - 3}px
        );
      `.replace(/\n/g, '')"
    >
      <LocationBox
        :key="selected.id"
        :location="selected"
        class="c-starmap__infobox"
      >
        <LocationInfo :location="selected" />
      </LocationBox>
    </div>
    <ModalFrame
      v-if="selected && selected.id === currentLocation.id && currentLog.landed"
      @close="deselect"
    >
      <LocationBox :location="selected">
        <LocationMarket :location="selected" />
      </LocationBox>
    </ModalFrame>
  </div>
</template>

<script>
import JourneyTracker from './JourneyTracker.vue';
import LocationBox from '../interfaces/LocationBox.vue';
import LocationInfo from '../interfaces/LocationInfo.vue';
import LocationMarket from '../interfaces/LocationMarket.vue';
import MapLocation from './MapLocation.vue';
import ModalFrame from '../ModalFrame.vue';

export default {
  components: {
    JourneyTracker,
    LocationBox,
    LocationInfo,
    LocationMarket,
    MapLocation,
    ModalFrame,
  },
  data: () => ({
    locationSizes: [1, 2, 3, 4, 5],
    zoom: 2,
    width: document.documentElement.clientWidth,
    height: document.documentElement.clientHeight,
    viewX: 1500,
    viewY: 1500,
    selected: null,
  }),
  computed: {
    regions() {
      return this.$store.state.map.regions;
    },
    locations() {
      let [vx, vy, vw, vh] = this.viewBox;

      // Add a margin to boundaries to draw things that are *just* off-screen
      const margin = 50;
      vx -= margin;
      vy -= margin;
      vw += margin * 2;
      vh += margin * 2;

      return this.$store.state.map.locations.filter(({ x, y }) => (
        x >= vx && y >= vy && x <= vx + vw && y <= vy + vh
      ));
    },
    inTransit() {
      return this.$store.getters['log/inTransit'];
    },
    currentLog() {
      return this.$store.getters['log/current'];
    },
    currentLocation() {
      const currentLocationId = this.currentLog.id;
      return this.$store.state.map.locations.find(l => l.id === currentLocationId);
    },
    viewBox() {
      // Calculate the viewport
      return [
        this.viewX,
        this.viewY,
        this.width / this.zoom,
        this.height / this.zoom,
      ];
    },
  },
  mounted() {
    const bounds = this.$refs.svg.getBoundingClientRect();
    this.width = bounds.width;
    this.height = bounds.height;

    // Put current location at centre of viewport
    this.viewX = this.currentLocation.x - (this.viewBox[2] / 2);
    this.viewY = this.currentLocation.y - (this.viewBox[3] / 2);

    // Check all regions have been suitably generated
    this.checkRegion();
  },
  methods: {
    checkRegion() {
      const [vx, vy, vw, vh] = this.viewBox;

      // Identify which regions are in view
      const regions = [
        [Math.floor(vx / 3000), Math.floor(vy / 3000)],
        [Math.floor(vx / 3000), Math.floor((vy + vh) / 3000)],
        [Math.floor((vx + vw) / 3000), Math.floor(vy / 3000)],
        [Math.floor((vx + vw) / 3000), Math.floor((vy + vh) / 3000)],
      ].filter((x, i, arr) => i === arr.findIndex(r => r[0] === x[0] && r[1] === x[1]));

      // Generate any missing regions
      regions.forEach(([x, y]) => {
        if (!this.regions.find(r => r.x === x && r.y === y)) {
          this.$store.dispatch('map/generate', { x, y });
        }
      });
    },
    scroll(e) {
      // Update zoom
      const oldZoom = this.zoom;
      this.zoom += e.deltaY / 10;
      if (this.zoom < 1) this.zoom = 1;
      if (this.zoom > 5) this.zoom = 5;

      // Update viewport to use mouse as zoom anchor
      this.viewX += (e.clientX / oldZoom) - (e.clientX / this.zoom);
      this.viewY += (e.clientY / oldZoom) - (e.clientY / this.zoom);

      // Check regions have been sufficiently generated
      this.checkRegion();
    },
    pan(e) {
      if (e.buttons === 1) {
        this.viewX -= e.movementX / this.zoom;
        this.viewY -= e.movementY / this.zoom;

        // Check regions have been sufficiently generated
        this.checkRegion();
      }
    },
    select(id) {
      this.selected = this.locations.find(x => x.id === id);
    },
    deselect() {
      this.selected = null;
    },
  },
};
</script>

<style>
.c-starmap {
  width: 100vw;
  height: 100vh;
}

.c-starmap__infobox {
  transform-origin: 50px 50px;
  animation: grow-in .4s;
}

.u-absolutely-positioned {
  position: absolute;
  left: 0;
  top: 0;
}
</style>
